In [1]:
print('ola')

ola

In [ ]:
# !pip install numpy

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\gnlin\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gnlin\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gnlin\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\users\gnlin\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in c:\users\gnlin\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: C:\Users\gnlin\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [6]:
tips = pd.read_csv("tips.csv")

In [7]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
tips.sort_values('total_bill')

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

In [14]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [10]:
tips.time.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [11]:
tips.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [12]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [13]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [18]:
tips['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [19]:
dict_days = {
    'Sat':7,
    'Sun':1,
    'Thur':5,
    'Fri':6
}

In [20]:
tips['day_number'] = tips['day'].map(lambda x:dict_days.get())

In [21]:
tips

     total_bill   tip     sex smoker   day    time  size  day_number
0         16.99  1.01  Female     No   Sun  Dinner     2           1
1         10.34  1.66    Male     No   Sun  Dinner     3           1
2         21.01  3.50    Male     No   Sun  Dinner     3           1
3         23.68  3.31    Male     No   Sun  Dinner     2           1
4         24.59  3.61  Female     No   Sun  Dinner     4           1
..          ...   ...     ...    ...   ...     ...   ...         ...
239       29.03  5.92    Male     No   Sat  Dinner     3           7
240       27.18  2.00  Female    Yes   Sat  Dinner     2           7
241       22.67  2.00    Male    Yes   Sat  Dinner     2           7
242       17.82  1.75    Male     No   Sat  Dinner     2           7
243       18.78  3.00  Female     No  Thur  Dinner     2           5

[244 rows x 8 columns]

In [22]:
tips.groupby('sex').sum('total_bill')

        total_bill     tip  size  day_number
sex
Female     1570.95  246.51   214         428
Male       3256.82  485.07   413         681

In [23]:
tips.groupby('day').sum('total_bill')

      total_bill     tip  size  day_number
day
Fri       325.88   51.96    40         114
Sat      1778.40  260.40   219         609
Sun      1627.16  247.39   216          76
Thur     1096.33  171.83   152         310

In [28]:
tips.groupby('day').mean('total_bill')

      total_bill       tip      size  day_number
day
Fri    17.151579  2.734737  2.105263         6.0
Sat    20.441379  2.993103  2.517241         7.0
Sun    21.410000  3.255132  2.842105         1.0
Thur   17.682742  2.771452  2.451613         5.0