# 0.Bases Usadas

- [class_datasets](https://github.com/gnlins/class_datasets)

# 0.1. Importando bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1.Analise Video Games

- Perguntas Sobre o dataset videoGames:
    - Qual video game é o mais vendido?
    - Qual é o video game mais caro? E o mais barato?
    - Quais são jogos criados pela Activision
    - Qual Console com maior acervo de jogos?
    - Quais jogos estão disponiveis em todos os consoles?
    - Entre 2000 e 2010 quantos jogos foram lançados?
    - Qual é a media de vendas global por fabricante?

## Metadados

This dataset contains a list of video games with sales greater than 100,000 copies. It was generated by a scrape of vgchartz.com.

- Fields include:

  - Rank - Ranking of overall sales

  - Name - The games name

  - Platform - Platform of the games release (i.e. PC,PS4, etc.)

  - Year - Year of the game's release

  - Genre - Genre of the game

  - Publisher - Publisher of the game

  - NA_Sales - Sales in North America (in millions)

  - EU_Sales - Sales in Europe (in millions)

  - JP_Sales - Sales in Japan (in millions)

  - Other_Sales - Sales in the rest of the world (in millions)

  - Global_Sales - Total worldwide sales.

The script to scrape the data is available at https://github.com/GregorUT/vgchartzScrape.
It is based on BeautifulSoup using Python.
There are 16,598 records. 2 records were dropped due to incomplete information.

In [3]:
vendas_vg = pd.read_csv("https://raw.githubusercontent.com/gnlins/class_datasets/main/VendaDeVideoGames/vgsales.csv")

In [4]:
vendas_vg.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# 2. Análise Ocorrencias Aeronauticas

![ModeloDados](https://raw.githubusercontent.com/gnlins/class_datasets/main/OcorrenciasAeronauticas/modelo_dados_cenipa.webp)

In [6]:
MAIN_PATH = "https://raw.githubusercontent.com/gnlins/class_datasets/main/OcorrenciasAeronauticas"

ocorrencias = pd.read_csv(f"{MAIN_PATH}/ocorrencia.csv", sep=';',encoding='latin-1')

ocorrencia_tipo = pd.read_csv(f"{MAIN_PATH}/ocorrencia_tipo.csv", sep=';',encoding='latin-1')

recomendacao = pd.read_csv(f"{MAIN_PATH}/recomendacao.csv", sep=';',encoding='latin-1')

fator_contribuinte = pd.read_csv(f"{MAIN_PATH}/fator_contribuinte.csv", sep=';',encoding='latin-1')

In [7]:
ocorrencias.head()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,83097,83097,83097,83097,83097,ACIDENTE,-2.352.777.777.777,-4.563.944.444.444,PARAIBUNA,SP,...,31/12/2023,18:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,83085,83085,83085,83085,83085,INCIDENTE,-9.868.333.333.333,-6.789.805.555.555,RIO BRANCO,AC,...,13/12/2023,11:33:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
2,83074,83074,83074,83074,83074,INCIDENTE,-1.962.444.444.444,-4.397.194.444.444,BELO HORIZONTE,MG,...,20/12/2023,20:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
3,83063,83063,83063,83063,83063,INCIDENTE,-1.587.111.111.111,-4.791.861.111.111,BRASÍLIA,DF,...,29/12/2023,21:20:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
4,83051,83051,83051,83051,83051,INCIDENTE,-4.871.388.888.888,-668.975,CARAUARI,AM,...,09/12/2023,18:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO

In [9]:
ocorrencia_tipo.head(10)

,codigo_ocorrencia1,ocorrencia_tipo,ocorrencia_tipo_categoria,taxonomia_tipo_icao
0,83097,INDETERMINADO,INDETERMINADO,UNK
1,83085,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,SCF-NP
2,83074,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
3,83063,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
4,83051,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
5,83044,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
6,83036,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
7,83035,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
8,83033,COLISÃO COM AVE,COLISÃO COM AVE,BIRD
9,83032,COLISÃO COM AVE,COLISÃO COM AVE,BIRD