# Pandas
--------

É muito comum trabalharmos com processamento de dados que se encontram no formato de tabelas (também chamados dados "tabulares", ou dados estruturados). Como exemplo, as ferramentas Microsoft Excel e Google Spreadsheets são muito utilizadas no dia a dia dos trabalhadores de muitas empresas. Assim, se quisermos fazer trabalhos básicos em dados tabulares de forma automatizada, com o Python, precisamos de uma biblioteca com funcionalidades parecidas com as ferramentas citadas.

O **Pandas** (derivado de *panel data*) é uma biblioteca que implementa essas funcionalidades [\[1\]](#1). Criada por Wes McKinney em torno de 2009, e tendo virado uma biblioteca de código fonte aberto em torno de 2013, o pandas tem o objetivo de ser uma ferramenta em Python que ajude com análise de dados e estatística computacional. O pandas é muito versátil e simples de usar, facilitando muito o trabalho com dados estruturados.

Para entender o funcionamento do `pandas`, é importante conhecer os objetos fundamentais da biblioteca: `Series` e `DataFrame`. Esses objetos representam listas de dados e tabelas, respectivamente. Ao se trabalhar com Pandas, dados tabulares são convertidos em `DataFrame`, em cima do qual fazemos a maior parte das operações do pandas.

Além disso, é importante também ter conhecimentos básicos de NumPy, visto que ele é a biblioteca principal na qual o pandas se apoia. Assim, toda a estrutura do pandas tem forte dependência do NumPy.

1. [Instalação](#1instalacao)
2. [Introdução ao Pandas](#2introducao)
    1. [Pandas Series](#21series)
    2. [Pandas DataFrame](#22dataframe)
3. [Tratamento e limpeza de dados](#3wrangling)
4. [Exploração de Dados](#4exploratory)

## 1. Instalação  <a name="1instalacao"></a>

O pandas é uma biblioteca para linguagem Python, e para ser instalada nós procedemos da mesma forma que qualquer outra biblioteca. A forma mais fácil de instalar o Pandas, e a recomendada na documentação da biblioteca, é a partir da distribuição Anaconda.

A distribuição Anaconda (https://www.anaconda.com/distribution/) vem com o Python e diversas bibliotecas científicas e para ciência de dados instaladas. Ele também vem com um gerenciador de pacotes chamado *conda*, que podemos usar para instalação do Pandas, caso seja desejado [\[2\]](#2).

In [ ]:
# $ conda install pandas

Também é possível baixar a partir do servidor da Python Software Foundation, conhecido como PyPI, através do gerenciador de pacotes `pip`.

In [ ]:
# $ pip install pandas

## 2. Introdução ao Pandas  <a name="2introducao"></a>

Antes de mais nada, precisamos importar o Pandas para poder usá-lo. Nós fazemos isso da mesma forma que qualquer outra biblioteca Python. O único ponto importante de se lembrar é que o mais comum na comunidade de programação é que se use o alias `pd` para o pandas.

In [ ]:
import pandas as pd

Normalmente, dados costumam vir na forma de tabelas. Nós chamamos dados com esse formato de **dados estruturados**. Isso significa que em geral, dados costumam estar na forma de uma série de linhas (ou uma série de colunas, o que é equivalente) com diversos valores e observações em cada parte da linha. A unidade básica que costumamos pensar é a de células da tabela. Uma célula é uma interseção entre uma dada linha e uma dada coluna da tabela.

Por exemplo, na tabela abaixo, nós podemos dizer que na célula \[2,1\] nós temos o valor 1. No Python, a linha 2 é a terceira, contando de cima pra baixo, em e a coluna 1 é a segunda, contando da esquerda para a direita.

In [ ]:
[[1, 2, 3],
 [2, 2, 2],
 [0, 1, 0]]

Perceba que falar que a linha 2 é a "terceira" (devido ao Python começar a indexação do 0) é algo arbitrário. Se a gente quisesse dar nomes pras linhas, por exemplo, "a", "b" e "c", eu poderia dizer que a linha "c" é a terceira de cima pra baixo. Se os nomes das colunas então fossem "A", "B", "C", eu poderia reescrever a célula como sendo \["c","B"\].

O que o Pandas faz é exatamente isso: Ele cria um array de numpy, porém com linhas (ou índices) com nomes específicos que podemos definir como queremos. As colunas funcionam de forma semelhante, nós podemos dar os nomes que quisermos a elas.

Essa estrutura, com uma tabela, uma lista de índices (nomes das linhas) e uma lista de colunas (nomes das colunas), é o que chamamos de um `DataFrame` do Pandas.

In [ ]:
dados = [[1.69, 87.0],
             [1.59, 56.5],
             [1.69, 90.3],
             [1.74, 78.6]]

In [ ]:
df = pd.DataFrame(dados, columns=['altura', 'peso'],
                      index=['Fulano', 'Sicrana', 'Beltrana', 'João'])

In [ ]:
df

Uma observação: É comum não passarmos uma lista de índices. Nesses casos, o pandas usa um padrão que é usar índices numéricos em sequência (por exemplo, 0, 1, 2, ...).

In [ ]:
dados = [['Fulano',   1.69, 87.0],
             ['Sicrana',  1.59, 56.5],
             ['Beltrana', 1.69, 90.3],
             ['João',     1.74, 78.6]]

In [ ]:
df = pd.DataFrame(dados, columns=['Nome', 'altura', 'peso'])

In [ ]:
df

É interessante ter em mente que o pandas tem uma inspiração fortíssima na linguagem de programação R, muito usada para estatística e análise de dados. Um dos objetos principais para análise de dados com R também é um `DataFrame`. Por isso, para quem tem conhecimentos prévios em R, é um pouco mais fácil de se acostumar com o pandas.

Agora, se olharmos o tipo da nossa variável `df`, veremos que ele é um DataFame do pandas.

In [ ]:
print(type(df))

O outro objeto fundamental em pandas é o objeto `Series`, que nada mais é que uma lista (unidimensional) indexada. Assim como no dataframe, esse índice pode ser alterado para os nomes que quisermos. Por trás dos panos, uma variável `Series` armazena suas informações em um `ndarray`, do numpy (assim como o faz variáveis do tipo `DataFrame`).

In [ ]:
minha_lista = [87.0, 56.5, 90.3, 78.6]

In [ ]:
serie = pd.Series(minha_lista, index=['Fulano', 'Sicrana', 'Beltrana', 'João'])

In [ ]:
serie

In [ ]:
serie = pd.Series(minha_lista)

In [ ]:
serie

Ao trabalhar com o pandas, estamos sempre atuando com esses dois tipos de objeto (`DataFrame` e `Series`).

Como exemplo, imagina que queiramos uma lista com os valores de uma dada coluna (ou de uma dada linha) do nosso dataframe. Nesse caso, podemos usar a sintaxe abaixo, e o objeto que iremos obter é do tipo `Series`.

In [ ]:
serie = df['peso']

In [ ]:
serie

Agora que vimos o que são os objetos fundamentais do pandas, vamos nos aprofundar um pouco mais em suas características.

### 2.1. Pandas Series  <a name="21series"></a>

Como vimos, podemos criar um objeto `pd.Series` a partir de uma lista (ou de um array do numpy). Assim como com o NumPy, nós podemos controlar o tipo dos elementos da série.

In [ ]:
import pandas as pd
import numpy as np
minha_lista = [10, 20, 30, 40]
serie = pd.Series(minha_lista, index=['a', 'b', 'c', 'd'], dtype=np.float32)

In [ ]:
serie

O nome de cada linha (o "index" da série) pode ser alterado após a criação da série. Basta atribuirmos um novo valor ao atributo `index`. O mesmo vale para o tipo dos elementos da série. Eles podem ser alterados após a criação da série, utilizando o método `astype`.

In [ ]:
minha_lista = [10, 20, 30, 40]

In [ ]:
serie = pd.Series(minha_lista)

In [ ]:
serie

In [ ]:
serie.index = ['a', 'b', 'c', 'd']

In [ ]:
serie.astype(np.float32)

Vale notar, contudo, que a função `astype` retorna uma cópia da série. Ela não salva o resultado dentro da mesma variável que tínhamos. Isso significa que, se formos olhar a variável série novamente, após a última linha do código acima, veríamos que o `dtype` continua sendo `int64`.

Uma última propriedade das séries do pandas que podemos controlar é o nome delas.

In [ ]:
minha_lista = [10, 20, 30, 40]

In [ ]:
serie = pd.Series(minha_lista, index=['a', 'b', 'c', 'd'], name='Números')

In [ ]:
serie

#### Manipulando séries Pandas

Quando usamos listas básicas do Python, nós podemos querer usar um elemento numa posição específica. Para isso, usamos um índice ao lado da lista, como `lista_valores[3]`, que pega o elemento que se encontra na posição 3 (lembrando que o Python começa a contagem de índices da lista pelo 0).

Com uma série do pandas, a ideia é a mesma. Seja para usar um elemento específico, ou para usar um intervalo de valores da série, a sintaxe do pandas é análoga.

In [ ]:
serie

In [ ]:
serie['c']

In [ ]:
serie[['c','a']]   # Se pegarmos vários índices, ele nos retorna uma Série Pandas

In [ ]:
serie['a':'c']   # Podemos pegar um slicing pela ordem dos índices

Um outro método para selecionar os elementos é usando as funções `iloc`, que seleciona pela posição do índice (começando do zero), e `loc`, que seleciona pelo índice nomeado.

In [ ]:
serie.iloc[2]

In [ ]:
serie.iloc[1:3]

In [ ]:
serie.loc['c']

In [ ]:
serie.loc['a':'c']

In [ ]:
serie.loc['c':'a']

Como não existe índice depois de "c" mas antes de "a", o resultado da última linha do bloco de código acima foi uma série vazia.

Por fim, de forma análoga ao NumPy, nós podemos usar "filtros lógicos" (também chamados máscaras booleanas). Eles nada mais são que uma lista (ou `ndarray`, ou `Series`) de valores booleanos. Onde tivermos o valor `True` são as posições dos elementos que queremos utilizar.

Podemos selecionar assim apenas os elementos que satisfaçam determinada condição.

In [ ]:
serie

In [ ]:
serie[[True, False, True, False]]

In [ ]:
serie[serie > 15]

De forma semelhante, podemos passar essa máscara para o método `loc` e obter o mesmo comportamento.

In [ ]:
mask = serie > 15

In [ ]:
mask

In [ ]:
serie.loc[mask]

Note que a variável `mask` é uma série do Pandas, resultante da operação `> 15` elemento a elemento. Por trás dos panos, o mesmo estava acontecendo no exemplo anterior.

#### Métodos e operações

Como já dito no texto, o pandas é construído em cima do NumPy. Os objetos fundamentais do pandas sempre tem um ndarray por trás. Por isso, muitas operações do pandas são análogas às do NumPy.

As operações matemáticas (`+`, `-`, `*`, `/`, `**`), por exemplo, são realizadas elemento a elemento assim como no NumPy. Uma diferença crucial é que o Pandas faz isso formando pares de elementos com o mesmo índice. Vamos ver um exemplo.

In [ ]:
serie

In [ ]:
values = pd.Series([0.5, 1.0, 1.5, 2.0], index=['b', 'd', 'a', 'c'], dtype=np.float32)

In [ ]:
values

In [ ]:
serie * values

No exemplo acima, note que os elementos com índice "a" são o 10, na variável `serie`, e 1.5, na variável `values`. Logo, o resultado da multiplicação para o índice "a" é 15.

Se as séries não tiverem o mesmo conjunto de valores nos índices, as operações darão valores absurdos (o pandas não irá levantar um erro ou uma exceção).

In [ ]:
other_values = pd.Series([0.5, 1.0, 1.5, 2.0], dtype=np.float32)

In [ ]:
other_values

In [ ]:
serie * other_values

Todos os valores resultantes no exemplo acima são `NaN` (Not a Number - o que significa que não há resultado ou é inválido), e temos os índices de ambas as séries. Isso porque tentamos multiplicar cada elemento de cada série por um elemento vazio (afinal, o índice "a", por exemplo, não existe na série `other_values`, e logo seu valor é "vazio").

Existem também alguns métodos para operar em cima da série de forma agregada. Eles podem retornar algum valor estatístico dos valores da série (como a média), podem só somar os valores, ou podem retornar um resumo dos dados.

Abaixo estão alguns exemplos de métodos que as séries possuem para esse tipo de operação.

|  Método          |Descrição                     |
|:----------------:|:----------------------------:|
|```sum```         |soma os valores               |
|```mean```        |média dos valores             |
|```std```         |desvio padrão dos valores     |
|```mode```        |moda dos valores              |
|```max```         |valor máximo na série         |
|```min```         |valor mínimo na série         |
|```value_counts```|conta repetições de cada valor|
|```describe```    |resumo de estatísticas básicas|

Veja alguns exemplos abaixo.

In [ ]:
valores = [1, 1, 2, 3, 5, 8, 13]

In [ ]:
fibonacci = pd.Series(valores)

In [ ]:
fibonacci.sum()

In [ ]:
fibonacci[fibonacci > 4].sum()

In [ ]:
valores = [1, 1, 0, 0, 1, 0, 1, 1, 1]

In [ ]:
serie = pd.Series(valores)

In [ ]:
serie.value_counts()

In [ ]:
serie.describe()

Quando as séries são compostas por elementos do tipo "string" (`str`, no Python), o pandas entenderá seu `dtype` como sendo `object`.

Nestes casos, a série tem um atributo `str`, que permite que façamos operações próprias de strings ao longo dos lementos da série.

In [ ]:
pronomes = pd.Series(['eu', 'tu', 'ele/ela', 'nós', 'vós', 'eles/elas'])

In [ ]:
pronomes

In [ ]:
pronomes.str

In [ ]:
pronomes.str.upper()

Se tentássemos usar o método `upper` diretamente com a série, veríamos o erro abaixo.

In [ ]:
pronomes.upper()

### 2.2. Pandas DataFrame  <a name="22dataframe"></a>

O `DataFrame` é uma representação de uma tabela. Ele possui dois eixos rotulados, que são as linhas (rotuladas pelo índice, ou `index`) e as colunas (rotuladas por um objeto índice para o nome das colunas).

Existem diversas maneiras de se criar um dataframe, podendo ser a partir de listas, dicionários etc.  
Um dos modos mais comuns é a criação a partir da leitura de um arquivo no formato `.csv`, como veremos a seguir para o caso do dataset `titanic`, muito conhecido por quem trabalha com ciência de dados. O dataset pode ser baixado [aqui](https://www.kaggle.com/competitions/titanic/data).

In [ ]:
df_titanic = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')

In [ ]:
print(type(df_titanic))

Note que `df_titanic` é um `DataFrame` com os dados do arquivo `titanic.csv`. Com relação à pasta na qual o código foi executado, este arquivo está localizado em `../datasets/`.

Vemos que o parâmetro do método `pd.read_csv` é o nome do arquivo que se deseja ler, com o caminho relativo até o arquivo.

Existem diversos parâmetros relevantes. Todos podem ser encontrados na [documentação do Pandas](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html).

> **Observação:**  
> Note que podemos também utilizar um arquivo do formato `.xlsx`, natural do excel.  
> Para tanto, devemos utilizar o método `pd.read_excel`.
>
> É possível também milhares de outros formatos menos comuns, como `.data`, `.txt`, e outros.
> O método mais geral para leitura destes formatos é `pd.read_table`.

A segunda forma de construir um DataFrame é a partir de variáveis do Python. O primeiro exemplo que veremos é como construir um DataFrame a partir de um dicionário do Python.

Este é um método muito útil, pois a estrutura de `dict`, nativa do Python, é bem semelhante à de um `DataFrame`.  

Neste caso, cada chave do nosso dicionário se tornará uma **coluna** enquanto os valores (que podem ser elementos de listas, arrays, series...) serão os elementos do dataframe.

In [ ]:
dicionario = {
                    'coluna_A': [1, 2, 3, 4, 5],
                    'coluna_B': ['a', 'b', 'c', 'd', 'e'],
                    'coluna_C': [0.5, 1.5, 4.5, 6.5, 8.5]
                }

In [ ]:
df = pd.DataFrame(dicionario)

In [ ]:
df

Um outro método, que já vimos antes neste material, é passando uma lista de listas (ou um array bidimensional do NumPy).

In [ ]:
dados = [[1.69, 87.0],
             [1.59, 56.5],
             [1.69, 90.3],
             [1.74, 78.6]]

In [ ]:
df = pd.DataFrame(dados, columns=['altura', 'peso'])

In [ ]:
df

Muitas das propriedades das séries Pandas se mantêm para DataFrames. A diferença é que agora, além de um atributo `index` com os nomes das linhas, teremos um segundo atributo `columns` com os nomes das colunas.

In [ ]:
df

In [ ]:
df.index      # O índice padrão é uma lista de números igualmente espaçados de 0 até o tamanho

In [ ]:
df.columns

#### Manipulando dataframes Pandas

As formas de se acessar os valores de um `DataFrame` são análogas ao que vimos antes com séries do pandas. A única diferença é que agora teremos de usar dois índices, a linha e a coluna.

In [ ]:
df

In [ ]:
df['altura'][1]        # se tentarmos fazer como Python, fazemos [coluna][linha], usando os rótulos

In [ ]:
df.iloc[1, 0]          # No caso do iloc, fazemos [linha, coluna], usando a posição

In [ ]:
df.loc[1, 'altura']    # No caso do loc, fazemos [linha, coluna], usando os rótulos

No caso que fizemos `df['altura'][1]`, no fundo estamos primeiro acessando uma série do pandas, `df['altura']`, e depois usando o que vimos na sessão anterior.

Se nosso objetivo for selecionar um único elemento, também podemos usar os métodos `iat` e `at`. O método `iat` recebe como argumento a posição do elemento desejado (posição numérica, independente dos nomes das linhas e das colunas). Já o método `at` recebe os rótulos originais das linhas (índices) e das colunas.

In [ ]:
df

In [ ]:
df.iat[1, 0]        # No caso do iat, acessamos [linha, coluna], usando a posição

In [ ]:
df.at[1, 'altura']    # No caso do at, acessamos [linha, coluna], usando os rótulos

Podemos também selecionar diferentes subconjuntos do DataFrame.

In [ ]:
df

In [ ]:
dados = [['Fulano',   1.69, 87.0],
             ['Sicrana',  1.59, 56.5],
             ['Beltrana', 1.69, 90.3],
             ['João',     1.74, 78.6]]

df = pd.DataFrame(dados, columns=['nomes', 'altura', 'peso'])

In [ ]:
df.loc[1:3, ['peso', 'nomes']]

In [ ]:
df[['nomes', 'altura']]

Podemos usar máscaras booleanas da mesma forma que fizemos com `Series` no pandas e `ndarray` no NumPy.

In [ ]:
df

In [ ]:
df[df['peso'] > 78.0]

Porém, objetos do tipo `DataFrame` possuem também outro método para fazer esse tipo de filtro. Esse é o método `query`, que recebe uma string representando o filtro que queremos.

In [ ]:
df.query('peso > 78.0')

Sempre que nós buscarmos alterar elementos de um `DataFrame`, devemos acessar os elementos a serem alterados através de um método dentre `at`, `iat`, `loc` e `iloc`.

In [ ]:
df

In [ ]:
df.at[1, 'altura'] = 1.50

In [ ]:
df

In [ ]:
df.loc[:2, 'peso'] = [77.2, 64.2, 85.0]

In [ ]:
df

Uma última manipulação que fazemos com frequência é a criação de colunas novas. A sintaxe relevante se encontra abaixo.

In [ ]:
df

In [ ]:
df['nomes'] = ['Fulano', 'Sicrana', 'Beltrana', 'João']

In [ ]:
df

In [ ]:
df.to_csv('alturas_e_pesos.csv')

#### Outras transformações e métodos

Existem diversas outras transformações e métodos que podemos usar com nosso DataFrame. Como exemplo, nós podemos usar os dados contidos em um dataframe como um array do NumPy.

In [ ]:
df

In [ ]:
df.drop(columns='nomes').to_numpy() # A função "drop" remove as colunas especificadas

In [ ]:
df.to_numpy()

In [ ]:
df.values  # O atributo "values" funciona igual a função to_numpy().

É possível também fazer operações matemáticas entre dataframes. No caso, o Pandas sempre vai operar entre células de mesmo índice e mesma coluna.

In [ ]:
dados1 = [[1, 2],
          [2, 4],
          [3, 6],
          [4, 8]]

df1 = pd.DataFrame(dados1, columns=['x', 'y'])

In [ ]:
df1

In [ ]:
dados2 = [[1, 3],
          [2, 6],
          [3, 9],
          [4, 12]]

df2 = pd.DataFrame(dados1, columns=['x', 'y'])

In [ ]:
df2

In [ ]:
dados3 = [[1, 3],
          [2, 6],
          [3, 9],
          [4, 12]]

df3 = pd.DataFrame(dados1, columns=['a', 'y'])

In [ ]:
df1 + df2

In [ ]:
df1 + df3

Além das operações matemáticas, podemos também rearrumar a ordem das linhas da tabela. O método `sort_index` organiza a tabela pelo índice, indo do menor valor para o maior valor, de forma ascendente. Para ordenar de forma descendente, basta colocar `sort_index(ascending=False)`.

In [ ]:
df

In [ ]:
df.sort_index()

De forma semelhante, podemos ordenar as linhas através dos valores de uma dada coluna, usando o método `sort_values`. É possível organizar indo do menor para o maior, ou o contrário, usando o parâmetro `ascending`.

In [ ]:
df

In [ ]:
df.sort_values('peso')

In [ ]:
df.sort_values('peso', ascending=False)

Podemos também reorganizar as colunas. Para isso, a sintaxe mais comum é dada abaixo.

In [ ]:
df

In [ ]:
df[['nomes', 'peso', 'altura']]

## 3. Tratamento e limpeza de dados  <a name="3wrangling"></a>

É muito comum em um conjunto de dados, seja ele proveniente de um banco dados ou de um arquivo `csv`, existirem valores nulos (ou seja, valores inválidos ou vazios).

Para fins de análises/modelos é muito importante identificar a incidência desses valores e tomar uma decisão, seja a de remover os valores nulos, ou a de substituí-los. Veremos abaixo como fazer ambos.

Identificando Elementos Nulos por Coluna: Identificar a quantidade de valores nulos por coluna é muito importante, pois assim podemos identificar qual ação é mais adequada.

In [ ]:
df

In [ ]:
df.isnull().sum()

Removendo os valores nulos: Para remover os nulos, iremos utilizar o comando `dropna`, como segue:

In [ ]:
df

In [ ]:
df.dropna()

Ou seja, ele removeu todas as linhas que contém algum valor nulo.

Substituindo valores nulos: Como muitas vezes não queremos diminuir o tamanho do nosso conjunto de dados, então uma abordagem é substituir esses valores (seja pela média dos valores, pela moda etc.).

Para fazer isso, podemos utilizar o método `fillna`, em que o parâmetro passado será o valor de substituição. Neste exemplo iremos substituir os valores por `-1`, mas poderia ser qualquer outro valor.

In [ ]:
df

In [ ]:
df.fillna(-1)

Se quisermos alterar um valor específico na nossa tabela (não apenas o NaN), podemos usar o método `replace`.

In [ ]:
df

In [ ]:
df.replace(-1, 60)

Veja que alteramos os valores de todo o dataframe e não só de uma coluna.

Outro tratamento importante é remover duplicatas da nossa tabela.

In [ ]:
dados_dup = [[1, 0],
          [1, 0],
          [2, 1],
          [2, 2]]

df_dup = pd.DataFrame(dados1, columns=['a', 'b'])

In [ ]:
df_dup

In [ ]:
df_dup.drop_duplicates()

## 4. Exploração de Dados  <a name="4exploratory"></a>

Podemos aproveitar o Pandas para ajudar na exploração dos dados. Existem diversos métodos para nos ajudar a sumarizar dados e calcular algumas estatísticas descritivas.

Como um exemplo, podemos ver a média de cada coluna de um dataframe.

In [ ]:
df

In [ ]:
df.mean()

Também podemos achar outras informações, como o maior e o menor valor das colunas.

In [ ]:
df

In [ ]:
df.min()

In [ ]:
df.max()

Um método muito útil, que reúne várias descrições ao mesmo tempo é o `describe`.

In [ ]:
df

In [ ]:
df.describe()

Quando estamos fazendo análises em um conjunto de dados, é muito útil saber alguns comportamentos separados por grupos. Para tanto, vamos utilizar o método `groupby` do Pandas.

Neste exemplo, iremos analisar as médias de altura e peso por gênero.

In [ ]:
dados_5 = [[1.69, 87.0, 0.0, 1],
           [1.59, 56.5, 0.0, 0],
           [1.69, 90.3, 1.0, 1],
           [1.74, 78.6, 1.0, 0]]

df = pd.DataFrame(dados_5, columns=['altura', 'peso', 'genero','carioca'])

In [ ]:
df

In [ ]:
df.groupby('genero').mean()

Também podemos cruzar informações de diferentes tipos de agrupamentos, para avaliar os dados. Para tanto, utilizamos o método `pivot_table`. É possível calcular uma função de agregação para os valores que aparecem no cruzamento também, como média, soma ou máximo.

In [ ]:
df

In [ ]:
df.pivot_table(index='genero', columns='carioca', values='peso', aggfunc=np.max)

In [ ]:
df.pivot_table(index='genero', columns='carioca', values='peso', aggfunc=np.sum)

**Referências:**
--------------

1. <a name="1"></a> pandas: a Foundational Python Library for Data Analysis and Statistics; McKinney, W.; Workshop Python for High Performance and Scientific Computing - PyHPC 2011. Disponível em https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf.
2. <a name="2"></a> Tutorial de instalação do Pandas, disponível em https://pandas.pydata.org/docs/getting_started/install.html.
3. <a name="3"></a> Python for Data Analysis: Data Wrangling with pandas, Numpy & Jupyter; McKinney W.; 3 ed., O'Reilly. Disponível em https://wesmckinney.com/book/.